/* FUENTES */
/* Durotype Aspira - Para texto general y título generales texto */
@font-face {
	font-family: 'Durotype Aspira';
	src: url('fonts/Durotype_AspiraNarRegular.eot');
	src: local('☺'), url('fonts/Durotype_AspiraNarRegular.woff') format('woff'), url('fonts/Durotype_AspiraNarRegular.ttf') format('truetype'), url('fonts/Durotype_AspiraNarRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Durotype Aspira';
	src: url('fonts/Durotype_AspiraBold.eot');
	src: local('☺'), url('fonts/Durotype_AspiraBold.woff') format('woff'), url('fonts/Durotype_AspiraBold.ttf') format('truetype'), url('fonts/Durotype_AspiraBold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Durotype Aspira';
	src: url('fonts/Durotype_AspiraNarIt.eot');
	src: local('☺'), url('fonts/Durotype_AspiraNarIt.woff') format('woff'), url('fonts/Durotype_AspiraNarIt.ttf') format('truetype'), url('fonts/Durotype_AspiraNarIt.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}
 /* Segoe Pr - Es la fuente para texto escrito a mano */
@font-face {
	font-family: 'Segoe Pr';
	src: url('fonts/segoepr.eot');
	src: local('☺'), url('fonts/segoepr.woff') format('woff'), url('fonts/segoepr.ttf') format('truetype'), url('fonts/segoepr.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe Pr';
	src: url('fonts/segoeprb.eot');
	src: local('☺'), url('fonts/segoeprb.woff') format('woff'), url('fonts/segoeprb.ttf') format('truetype'), url('fonts/segoeprb.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

/* Pixilate JollyGood - Para títulos de algunas cajas. Algo más chula e informal */
@font-face {
	font-family: 'Pixilate JollyGood';
	src: url('fonts/Pixilate_JollyGood_Proper_Condensed_Regular.eot');
	src: local('☺'), url('fonts/Pixilate_JollyGood_Proper_Condensed_Regular.woff') format('woff'), url('fonts/Pixilate_JollyGood_Proper_Condensed_Regular.ttf') format('truetype'), url('fonts/Pixilate_JollyGood_Proper_Condensed_Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Pixilate JollyGood';
	src: url('fonts/Pixilate_JollyGood_Proper_Condensed_Bold.eot');
	src: local('☺'), url('fonts/Pixilate_JollyGood_Proper_Condensed_Bold.woff') format('woff'), url('fonts/Pixilate_JollyGood_Proper_Condensed_Bold.ttf') format('truetype'), url('fonts/Pixilate_JollyGood_Proper_Condensed_Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

/**titulo caja 10 **/
@font-face {
	font-family: 'Conv_Hanoded_ButterflyBall';
	src: url('fonts/Hanoded_ButterflyBall.eot');
	src: local('☺'), url('fonts/Hanoded_ButterflyBall.woff') format('woff'), url('fonts/Hanoded_ButterflyBall.ttf') format('truetype'), url('fonts/Hanoded_ButterflyBall.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*---------------------------*/
/* Colores genericos estilo */
:root {
--colordeg: #E94287;
--colordeg2: #EC6608;
--colorppal: #E94287;
--colorsec:#634634;
}
/*-------------------------*/

/* General */

	body.content_type_clase_smchile2021 {
		font-size: 1.7rem;
		font-family: 'Durotype Aspira',sans-serif;
	}

	body.content_type_clase_smchile2021 #actividad .content img {
		padding: 0px;
	}

	.is_app.content_type_clase_smchile2021 {
		padding-top: 0px;
	}

	.content_type_clase_smchile2021 #actividad {
		margin-bottom: 0px;
		-webkit-transform: none;
		-webkit-transform-style: flat;
	}

	#actividad .carousel-inner .item-container {
		background-image: none;
		margin: 20px auto 30px;
		padding: 0px;
		padding-bottom: 90px;
		position: relative;
	}

	.content_type_clase_smchile2021 #actividad .slide-concatenate {
		margin-top: 30px;
	}

/*HEADER*/
	.content_type_clase_smchile2021 #actividad .content .header .title img,
	.content_type_clase_smchile2021 #actividad .content .header .chapter {
		display: none;
	}

	#indice .units ul li a .number,
	#indice .unit-content .header .number
	 {
		visibility: hidden;
	}

	.content_type_clase_smchile2021 #actividad .content .header {
		border: none;
		margin-bottom: 0;
	}

	.content_type_clase_smchile2021 #actividad .content .header .title {
		margin: -40px 0 20px;
		padding: 20px 97px;
		-moz-background: linear-gradient(99deg, var(--colordeg) 0%, var(--colordeg2) 100%);
		-webkit-background: linear-gradient(99deg, var(--colordeg) 0%, var(--colordeg2) 100%);
		background: linear-gradient(99deg, var(--colordeg) 0%, var(--colordeg2) 100%);
   		min-height: 90px;
	}

	.content_type_clase_smchile2021 #actividad .content .slide-concatenate .header .title {
		display: none;
	}

	.content_type_clase_smchile2021 #actividad .content .header .title h3 {
		font-family: 'Durotype Aspira';
		position: relative;
		display: block;
		width: 100%;
		margin: 0;
		color: #fff;
		font-weight: bold;
	    font-size: 2.5rem;
	    text-align: left;
	    padding-top: 11px;
		}

	.content_type_clase_smchile2021 #actividad .content .header .title h3 span {
		float: left;
		font-size: 1.8rem;
		font-weight: 900;
		line-height: 1.1rem;
	}
	.content_type_clase_smchile2021 #actividad .content .header .title .header1 {
		position: absolute;
	    background: white;
	    color: #e94286;
	    width: 65px;
	    height: 50px;
	    left: -97px;
	    text-align: center;
	    padding-top: 0;
	    font-size: 49px;
	    font-family: 'Durotype Aspira', sans-serif;
	}
	.content_type_clase_smchile2021 #actividad .content .header .title .header1:before {
		width: 0;
	    height: 0;
	    border-top: 25px solid transparent;
	    border-bottom: 25px solid transparent;
	    border-left: 22px solid white;
	    position: absolute;
	    content: "";
	    right: -22px;
	    top: 0px;
	}
/*---*/

	.content_type_clase_smchile2021 #actividad .slide_content_type_1 .pregunta .texto_curso,
	.content_type_clase_smchile2021 #actividad .texto_curso,
	.html-book {
		font-size: 1.7rem;
	}

	.texto_curso p:last-of-type {
		margin-bottom: 15px;
	}

	.content_type_clase_smchile2021 #actividad .texto_curso li,
	.content_type_clase_smchile2021 #actividad .workspace ul li li {
		margin-bottom: 10px;
	}

	#actividad .class_slide {
    	padding: 40px 0 0;
	}

	#actividad .class_slide:last-of-type {
	    padding-bottom: 0px;
	}

	#actividad .slide-concatenate .class_slide {
	    padding-bottom: 20px;
	}

	#actividad .slide-concatenate:last-of-type .class_slide {
	    padding-bottom: 100px;
	}

	.content_type_clase_smchile2021 .slide_main {
		padding: 0 97px;
	}

	@media screen and (max-width: 480px) {
		.content_type_clase_smchile2021 .slide_main {
			padding: 0 35px;
		}
	}

	.content_type_clase_smchile2021 .slide_main input,
	.content_type_clase_smchile2021 .slide_main .img-input-container {
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		        border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		     box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		-moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
	}

	.content_type_clase_smchile2021 .slide_main input:focus,
	.content_type_clase_smchile2021 .slide_main .img-input-container:focus {
		border-top-color: #3AC62A;
		border-right-color: #3AC62A;
		border-bottom-color: #3AC62A;
		border-left-color: #3AC62A;
		outline-width: 0px;
		outline-style: none;
		-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
		   -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
		        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
	}

	.content_type_clase_smchile2021 .slide_main input[disabled],
	.content_type_clase_smchile2021 .slide_main input[readonly],
	fieldset[disabled] .content_type_clase_smchile2021 .slide_main input,
	.content_type_clase_smchile2021 .slide_main .img-input-container {
		cursor: not-allowed;
		background-color: #eee;
		opacity: 1;
	}

	.content_type_clase_smchile2021 .slide_main .img-input-container input[readonly],
	.content_type_clase_smchile2021 .slide_main .img-input-container input[disabled] {
		opacity: 0;
		filter: alpha(opacity=0);
	}

	.content_type_clase_smchile2021 .slide_main input.respuesta_ok,
	.content_type_clase_smchile2021 .slide_main .img-input-container.respuesta_ok {
		border-color: #57e900;
		background: #D1F3BD;
	}

	.content_type_clase_smchile2021 .slide_main input.respuesta_ko,
	.content_type_clase_smchile2021 .slide_main .img-input-container.respuesta_ko {
		border-color: #FF3626;
		background: #FFA49D;
	}

	.content_type_clase_smchile2021 .slide_main input.solucion,
	.content_type_clase_smchile2021 .slide_main .img-input-container.solucion {
		border-color: #00BDFF;
		background: #B6ECFF;
	}

	.zoom_flag_img {
		top: 15px;
		right: 15px;
	}
/**/

/* Navbar */
	.navbar-bottom {
		background: #132E4C;
		padding-left: 100px;
		padding-right: 100px;
	}

	.logo-publisher {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
		height: 44px;
		background: url(logo-pearson.png) 0 0 no-repeat;
		-webkit-background-size: contain;
		   -moz-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
		background-position: center center;

	}

	@media only screen and (max-width: 640px) {
		.navbar-bottom {
			padding-left: 40px;
			padding-right: 40px;
		}

		.logo-publisher {
			width: 40px;
			background-image: url(Pearson-logo-2016-219x286.png);
		}
	}

	.slider-indicators {
	    padding-left: 0px;
	    padding-right: 0px;
	    white-space: nowrap;
	}
	.edit .slider-indicators {
		white-space: normal;
	}
	.slider-indicators li,
	.edit .slider-indicators li {
		background-color: #ffffff;
	    color: #005840;
	}

	.slider-indicators .active,
	.edit .slider-indicators .active,
	.slider-indicators li:hover,
	.edit .slider-indicators .concat.active,
	.slider-indicators .active {
	    background-color: #007FA3;
	    color: #ffffff;
	}

	.edit .slider-indicators .concat.active:before {
 		background-color: #007FA3;
	}

	#bottom-navigator {
		overflow: hidden;
		position: relative;
	}
	#bottom-navigator .slider-indicators {
		margin-left: auto;
		margin-right: auto;
	}
	#bottom-navigator .slider-indicators:after {
		content: '';
		display: table;
		clear: both;
	}
	#bottom-navigator li {
		width: 18px;
		height: 18px;
		margin: 2px 5px;
		background: #fff;
		color: transparent;
		line-height: 2.2rem;
		font-size: 1.8rem;
		font-weight: bold;
		text-indent: initial;
	}
	#bottom-navigator li:hover {
		background: rgb(142, 206, 224);
		color: transparent;
	}
	#bottom-navigator li.active {
		background: #007FA3;
		color: transparent;
	}
	#bottom-navigator.show_left:before {
		content: '\F053';
		font-family: 'FontAwesome';
		position: absolute;
		left: 0;
		z-index: 100;
		color: #ffffff;
		top: 10px;
		height: 35px;
		line-height: 5.4rem;
		width: 20px;
		text-align: left;
		background: -webkit-gradient(linear, left top, right top, from(#132E4C), to(transparent));
		background: -webkit-linear-gradient(left, #132E4C, transparent);
		background: -moz-linear-gradient(left, #132E4C, transparent);
		background: -o-linear-gradient(left, #132E4C, transparent);
		background: linear-gradient(to right, #132E4C, transparent);
	}

	#bottom-navigator.show_right:after {
		content: '\F054';
		font-family: 'FontAwesome';
		position: absolute;
		right: 0;
		color: #ffffff;
		top: 10px;
		height: 35px;
		line-height: 5.4rem;
		width: 20px;
		text-align: right;
		background: -webkit-gradient(linear, right top, left top, from(#132E4C), to(transparent));
		background: -webkit-linear-gradient(right, #132E4C, transparent);
		background: -moz-linear-gradient(right, #132E4C, transparent);
		background: -o-linear-gradient(right, #132E4C, transparent);
		background: linear-gradient(to left, #132E4C, transparent);
	}

/**/

/* --- TÍTULOS --- */

/*TITULO 1*/

.bck-title1 {
    position: relative;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;
    letter-spacing: 0;
    font-family: 'Durotype Aspira', sans-serif;
    color: #5C676D;
    font-weight: bold;
    padding: 0;
    background: none;
    display: block;
    margin: 0px 0px 20px 0px;
    font-size: 2.6rem;
    border: 0;
}

/*TITULO 2*/

.bck-title2 {
    position: relative;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;
    letter-spacing: 0;
    font-family: 'Durotype Aspira', sans-serif;
    color: #5C676D;
    font-weight: bold;
    padding: 0;
    background: none;
    display: block;
    margin: 0px 0px 15px 0px;
    font-size: 2.2rem;
    border: 0;
}

/* Titulo 3 */
.bck-title3 {
    background-color: #ADCD57;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    padding: 4px 10px;
    font-size: inherit;
    font-family: 'Durotype Aspira', sans-serif;
    font-weight: bold;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}
.bck-title3:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ADCD57;
    right: -5px;
    bottom: 0px;
    -moz-transform: skewX(22deg);
    -webkit-transform: skewX(22deg);
    -o-transform: skewX(22deg);
    transform: skewX(22deg);
    z-index: -5;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	border-top-left-radius: 5px;
}

/*Titulo 4*/
.bck-title4 {
    color: #ADCD57;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 15px;
}

/*Titulo 5*/
.bck-title5 {
	background-color: #0578bd;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    padding: 4px 10px;
    font-size: inherit;
    font-family: 'Durotype Aspira', sans-serif;
    font-weight: bold;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}

.bck-title5:after {
	content: "";
    position: absolute;
    LEFT: 0px;
    bottom: -9px;
    z-index: -5;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #0578BD;
    border-bottom: 10px solid transparent;
}

/* ENFASIS */
.bck-enfasis-1 {
    color: #EA555B;
}
.bck-enfasis-2 {
    color: #12589F;
}

.bck-enfasis-3 {
    font-family: 'Conv_Hanoded_ButterflyBall';
}


/* Lists */

.texto_curso ul li,
.workspace ul li ul li,
.cke_contents ul li {
	padding-left: 30px;
}

.texto_curso ul li:before,
.workspace ul li ul li:before,
.cke_contents ul li:before {
	width: 4px;
	height: 4px;
	background-color: #414141;
}

.content .bck-ol,
.cke_contents .bck-ol,
.content ol,
.cke_contents ol {
	list-style-type: none;
	padding-left: 0;
	counter-reset: bck-li-counter;
}

.content .bck-ol li,
.cke_contents .bck-ol li,
.content ol li,
.cke_contents ol li {
	list-style-type: none;
	margin-bottom: 16px;
	counter-increment: bck-li-counter;
	line-height: 1.1rem;
	position: relative;
    display: block;
    padding-left: 2px;
}

.content ol li:before,
.cke_contents ol li:before {
    content: counter(bck-li-counter)".";
    position: relative;
    display: inline-block;
    top: -1px;
    left: -3px;
    width: auto;
    height: auto;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    background: no-repeat;
    color: #5C676D;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.8rem;
    margin-right: 3px;
}

/*LISTA 1 - L.123 Fondo Gris */
.content .bck-ol1 li, .cke_contents .bck-ol1 li {
    position: relative;
    display: block;
}
.content .bck-ol1 li:before,
.cke_contents .bck-ol1 li:before {
	content: counter(bck-li-counter);
    line-height: 2.7rem;
    top: -2px;
    left: -3px;
    height: 24px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #656f75;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: auto;
    position: relative;
    display: inline-block;
    padding: 0px 7px;
    vertical-align: middle;
    -webkit-vertical-align: middle;
}

/*LISTA ORDENADA 2 - L.abc gris */
.content .bck-ol2 li,
 .cke_contents .bck-ol2 li {
    position: relative;
    display: block;
}
.content .bck-ol2 li:before,
.cke_contents .bck-ol2 li:before {
    content: counter(bck-li-counter, lower-alpha)".";
    position: relative;
    color: #5c676d;
    background: none;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    width: auto;
    margin-right: 4px;
    line-height: 1.55rem;
    vertical-align: middle;
    -webkit-vertical-align: middle;
}

/*LISTA ORDENADA 3*/
.content .bck-ol3 li:before,
.cke_contents .bck-ol3 li:before {
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
    		box-shadow: none;
    border: 0;
    background: none;
    color: var(--colorppal);
}


/*LISTA ORDENADA 4*/
.content .bck-ol4 li:before,
.cke_contents .bck-ol4 li:before {
	content: counter(bck-li-counter);
    line-height: 2.7rem;
    top: -2px;
    left: -3px;
    height: 24px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: var(--colorppal);
    color: white;
    font-weight: bold;
    text-align: center;
    width: auto;
    position: relative;
    display: inline-block;
    padding: 0px 7px;
    vertical-align: middle;
    -webkit-vertical-align: middle;
}

/* Lista ordenada 5 - L.abc auto*/
.content .bck-ol5 li:before,
.cke_contents .bck-ol5 li:before {
    content: counter(bck-li-counter, lower-alpha)".";
    position: relative;
    color: var(--colorppal);
    background: none;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    width: auto;
    margin-right: 4px;
    line-height: 1.55rem;
    vertical-align: middle;
    -webkit-vertical-align: middle;
}

/*LISTA ORDENADA 6*/
.content .bck-ol6 li:before,
.cke_contents .bck-ol6 li:before {
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
    		box-shadow: none;
    border: 0;
    background: none;
    color: #00a4b7;
}


/*LISTA ORDENADA 7*/
.content .bck-ol7 li:before,
.cke_contents .bck-ol7 li:before {
	content: counter(bck-li-counter);
    line-height: 2.7rem;
    top: -2px;
    left: -3px;
    height: 24px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #00a4b7;
    color: white;
    font-weight: bold;
    text-align: center;
    width: auto;
    position: relative;
    display: inline-block;
    padding: 0px 7px;
    vertical-align: middle;
    -webkit-vertical-align: middle;
}

/* Lista ordenada 8 - L.abc auto*/
.content .bck-ol8 li:before,
.cke_contents .bck-ol8 li:before {
    content: counter(bck-li-counter, lower-alpha)".";
    position: relative;
    color: #00a4b7;
    background: none;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    width: auto;
    margin-right: 4px;
    line-height: 1.55rem;
    vertical-align: middle;
    -webkit-vertical-align: middle;
}

/*LISTA ORDENADA 9 morada*/
.content .bck-ol9 li:before,
.cke_contents .bck-ol9 li:before {
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
    		box-shadow: none;
    border: 0;
    background: none;
    color: #82338B;
}

/*LISTA ORDENADA 10 morada*/
.content .bck-ol10 li:before,
.cke_contents .bck-ol10 li:before {
	content: counter(bck-li-counter);
    line-height: 2.7rem;
    top: -2px;
    left: -3px;
    height: 24px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #82338B;
    color: white;
    font-weight: bold;
    text-align: center;
    width: auto;
    position: relative;
    display: inline-block;
    padding: 0px 7px;
    vertical-align: middle;
    -webkit-vertical-align: middle;
}

/* Lista ordenada 11 morada*/
.content .bck-ol11 li:before,
.cke_contents .bck-ol11 li:before {
    content: counter(bck-li-counter, lower-alpha)".";
    position: relative;
    color: #82338B;
    background: none;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    width: auto;
    margin-right: 4px;
    line-height: 1.55rem;
    vertical-align: middle;
    -webkit-vertical-align: middle;
}

/*LISTA ORDENADA 12 verde*/
.content .bck-ol12 li:before,
.cke_contents .bck-ol12 li:before {
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
    		box-shadow: none;
    border: 0;
    background: none;
    color: #86BC25;
}

/*LISTA ORDENADA 13 verde*/
.content .bck-ol13 li:before,
.cke_contents .bck-ol13 li:before {
	content: counter(bck-li-counter);
    line-height: 2.7rem;
    top: -2px;
    left: -3px;
    height: 24px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #86BC25;
    color: white;
    font-weight: bold;
    text-align: center;
    width: auto;
    position: relative;
    display: inline-block;
    padding: 0px 7px;
    vertical-align: middle;
    -webkit-vertical-align: middle;
}

/* Lista ordenada 14 verde*/
.content .bck-ol14 li:before,
.cke_contents .bck-ol14 li:before {
    content: counter(bck-li-counter, lower-alpha)".";
    position: relative;
    color: #86BC25;
    background: none;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    width: auto;
    margin-right: 4px;
    line-height: 1.55rem;
    vertical-align: middle;
    -webkit-vertical-align: middle;
}

/*LISTA ORDENADA 15 NARANJA*/
.content .bck-ol15 li:before,
.cke_contents .bck-ol15 li:before {
	content: counter(bck-li-counter);
    line-height: 2.7rem;
    top: -2px;
    left: -3px;
    height: 24px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #EC6608;
    color: white;
    font-weight: bold;
    text-align: center;
    width: auto;
    position: relative;
    display: inline-block;
    padding: 0px 7px;
    vertical-align: middle;
    -webkit-vertical-align: middle;
}

/*LISTA DESORDENADA POR DEFECTO*/
.texto_curso ul li:before, 
.workspace ul li ul li:before, 
.cke_contents ul li:before {
    width: 6px;
    height: 6px;
    background-color: #414141;
}

/*LISTA DESORDENADA 1 ROSA*/
#actividad .content .texto_curso .bck-ul1 li:before,
#actividad .content .workspace ul li .bck-ul1 li:before ,
#actividad .popover-background.shown .popover-content .bck-ul1 li:before{
    width: 6px;
    height: 6px;
    background: var(--colorppal);
}

/*LISTA DESORDENADA 2 AZUL*/
#actividad .content .texto_curso .bck-ul2 li:before,
#actividad .content .workspace ul li .bck-ul2 li:before ,
#actividad .popover-background.shown .popover-content .bck-ul2 li:before{
    width: 6px;
    height: 6px;
    background-color: #00a4b7;
}

/*LISTA DESORDENADA 3 morada*/
#actividad .content .texto_curso .bck-ul3 li:before,
#actividad .content .workspace ul li .bck-ul3 li:before ,
#actividad .popover-background.shown .popover-content .bck-ul3 li:before{
    width: 6px;
    height: 6px;
    background-color: #82338B;
}

/*LISTA DESORDENADA 4 verde*/
#actividad .content .texto_curso .bck-ul4 li:before,
#actividad .content .workspace ul li .bck-ul4 li:before ,
#actividad .popover-background.shown .popover-content .bck-ul4 li:before{
    width: 6px;
    height: 6px;
    background-color: #86BC25;
}

/*LISTA DESORDENADA 5 CUADRADOS*/
#actividad .content .texto_curso .bck-ul5 li:before,
#actividad .content .workspace ul li .bck-ul5 li:before ,
#actividad .popover-background.shown .popover-content .bck-ul5 li:before{
	height: 12px;
    text-align: center;
    width: 16px;
    position: relative;
    display: inline-block;
    padding: 0px 7px;
    background: url(images/listacuadrados.png);
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    left: -3px;
}

/*LISTA DESORDENADA 6 FLECHAS*/
#actividad .content .texto_curso .bck-ul6 li:before,
#actividad .content .workspace ul li .bck-ul6 li:before ,
#actividad .popover-background.shown .popover-content .bck-ul6 li:before{
 	content: '\f101';
    font-family: FontAwesome;
    color: var(--colorppal);
    position: relative;
    top: 0px;
    font-weight: bold;
    background: transparent;
    left: -4px;
}

/* --- CAJAS ---*/

.bck-box {
	margin: 10px 0;
    border: 2px solid var(--colorppal);
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	background: #fff;
	padding: 0px;
}
.bck-box .bck-title {
    padding: 10px;
}
.bck-box .bck-title p {
    margin: 0;
}
.bck-box .bck-content {
    padding: 10px;
}

.bck-box .bck-content p:last-child {
	margin-bottom: 0;
}
/* CAJA 1*/
.bck-box.bck-box1 {
	border: 0;
}

.bck-box.bck-box1 .bck-content {
    background: #F4F0E7;
    border-left: 2px solid var(--colorppal);
    border-top: 2px solid var(--colorppal);
}
.bck-box.bck-box1 .bck-title {
    background: var(--colorppal);
    color: white;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 0 10px;
    position: relative;
    z-index: 2;
}
.bck-box.bck-box1 .bck-title p {
    margin-bottom: 5px;
}
.bck-box.bck-box1 .bck-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--colorppal);
    top: 0px;
    left: 13px;
    z-index: -1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}

/* Caja 2 */
.bck-box.bck-box2 {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	padding: 0;
	text-align: center;
    border: 0;
    text-align: left;
    font-family: 'Segoe Pr', cursive;
    color: #009EE3;
    border: 0;
}

/* Caja 3 */
.bck-box.bck-box3 {
	position: relative;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	-webkit-transform: none;
	   -moz-transform: none;
	    -ms-transform: none;
	     -o-transform: none;
	        transform: none;
	        border: 0;
	background: #F0F0F0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bck-box.bck-box3 .bck-title {
	position: relative;
	top: 0;
	left: 0;
	-webkit-transform: none;
	   -moz-transform: none;
	    -ms-transform: none;
	     -o-transform: none;
	        transform: none;
	display: inline-block;
	border: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	background: #fff;
	padding: inherit;
	background: #F0F0F0;
}

.bck-box.bck-box3 .bck-title p {
	display: inline;
}

.bck-box.bck-box3 .bck-content {
	margin-top: inherit;
}

/* CAJA 4 */
.bck-box.bck-box4 {
    -moz-border-image: url(images/bordecaja4.png) stretch;
    -webkit-border-image: url(images/bordecaja4.png) stretch;
    border-image: url(images/bordecaja4.png) stretch;
    position: relative;
    font-family: 'Pixilate JollyGood', sans-serif;
    font-weight: normal;
    border-image-slice: 120;
    border-image-width: 60px;
    border-image-outset: 12 7;
    padding: 1px 36px;
    margin-top: 36px;
    margin-bottom: 36px;
	font-size: 1.8rem;
}

/* CAJA 5 */
.bck-box.bck-box5 {
	border: 0;
}
.bck-box.bck-box5 .bck-content {
    background: #F4F0E7;
    border-left: 2px solid var(--colorppal);
}
.bck-box.bck-box5 .bck-title {
    background: var(--colorppal);
    color: white;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 0 10px;
    position: relative;
    z-index: 2;
}
.bck-box.bck-box5 .bck-title p {
    margin-bottom: 5px;
}
.bck-box.bck-box5 .bck-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--colorppal);
    top: 0px;
    left: 13px;
    z-index: -1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}

/* CAJA 6 */
.bck-box.bck-box6 {
    border: 0;
}
.bck-box.bck-box6 .bck-title {
    background: #009EE3;
    display: inline-block;
    padding: 2px 12px;
    font-family: 'Pixilate JollyGood', sans-serif;
    color: white;
    font-size: 1.8rem;
    position: relative;
}
.bck-box6 .bck-title:after {
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	background:url(images/bordeazulcienciaconstruccion.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:right;
	bottom: 0;
	right: -15px;

}
.bck-box.bck-box6 .bck-content {
    background: #EAF6FE;
}
/* CAJA 7 */
.bck-box.bck-box7 {
    border: 0;
    background: #D1E0D8;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
.bck-box7 .bck-title {
    font-family: 'Pixilate JollyGood', sans-serif;
    font-size: 2.5rem;
    padding: 10px 10px 5px 20px;
}
.bck-box7 .bck-content {
    padding: 0px 10px 10px 20px;
}

/* CAJA 8 */
.bck-box.bck-box8 {
    margin-top: -2.6%;
    position: relative;
    left: -12.6%;
    width: 125.5%;
    padding: 0;
    border:0;
}
.bck-box8 .bck-content {
	padding: 0;
}

/*CAJAS ASIGNATURAS*/
/********LENGUA*********/
/*CAJA 10 DESAFIO EN CONSTRUCC.*/
.bck-box.bck-box10{
    border: 0;
}
.bck-box.bck-box10 .bck-title{
	background: #FBC25E;
    border-top: 2px solid #000000;
    display: inline-block;
    padding: 2.2px 12px;
    font-family: 'Conv_Hanoded_ButterflyBall';
    color: #000000;
    font-size: 1.8rem;
    border-left: 2px solid #000000;
    position: relative;
}
.bck-box10 .bck-title:after{
    content: "";
    position: absolute;
    width: 110%;
    height: 107.6%;
    background: url(images/bordeamarillodesafio.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    bottom: 0px;
    right: -15px;
}

.bck-box.bck-box10 .bck-content{
    background: #FFEED5;
    border-left: 2px solid #000000;
}

/*CAJA 11 texto*/
.bck-box.bck-box11{
    border: 0;
    box-shadow: 3px 5px 10px -1px #A1A1A1;
}
.bck-box.bck-box11 .bck-title{
	background: #F6A86E;
    display: inline-block;
    padding: 2.2px 12px;
    color: #000000;
    font-size: 1.8rem;
    position: relative;
    top: 20px;
    left: -11px;
    font-weight: 600;
}
.bck-box11 .bck-title:after{
    content: "";
    position: absolute;
    width: 110%;
    height: 100%;
    background: url(images/bordenaranjatexto.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    bottom: 0px;
    right: -15px;
}

.bck-box.bck-box11 .bck-content{
    background: #ffffff;
    padding-top: 35px;
}

/*CAJA 12 lectura crcitica*/
.bck-box.bck-box12{
    border: 0;
}
.bck-box.bck-box12 .bck-title{
    background: #000000;
    display: inline-block;
    padding: 2px 12px;
    font-family: 'Conv_Hanoded_ButterflyBall';
    color: #CCE2FE;
    font-size: 1.8rem;
    border-radius: 10px 10px 0 0;
    position: relative;
    left: 85px;
}
.bck-box12 .bck-title:before{
    background: url(images/boxlecturacritica.png);
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    padding: 32px 33px 0 24px;
    position: relative;
    left: -68px;
    z-index: 100;
    top: 35px;
    width: 10px;
    margin-top: -6px;
}

.bck-box.bck-box12 .bck-content{
	border-top: 3px solid #000000;
    background: #FFFAD2;
}

/**************MATEMÁTICA**************/
/*CAJA 13 */
.bck-box.bck-box13{
    margin: 10px 0;
    border: 2px solid #FCD259;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 10px;
    background: #fff;
    padding: 0px;
}

.bck-box.bck-box13 .bck-title{
	padding: 10px;
}

.bck-box.bck-box13 .bck-content{
	padding: 10px;
}

/* CAJA 14 */
.bck-box.bck-box14 {
    border: 0;
}
.bck-box.bck-box14 .bck-title {
	background: #fbba00;
    display: inline-block;
    padding: 2px 12px;
    font-family: 'Pixilate JollyGood', sans-serif;
    color: white;
    font-size: 1.8rem;
    position: relative;
}
.bck-box14 .bck-title:after {
	content: "";
    position: absolute;
    right: -9px;
    TOP: 0px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 9px solid #fbba00;
    border-bottom: 15px solid transparent;
}

.bck-box.bck-box14 .bck-content {
    background: #ffffff;
    border-left: 2px solid #fbba00;
}

/* CAJA 15 pensamiento matematico*/
.bck-box.bck-box15 {
	border: 0;
}
.bck-box.bck-box15 .bck-content {
	background: #ffffff;
    border-left: 2px solid var(--colorppal);
    border-top-left-radius: 23px;
    padding-top: 30px;
}
.bck-box.bck-box15 .bck-title {
    background: white;
    border: 2px solid #eb5090;
    color: var(--colorppal);
    font-weight: 600;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 0 10px;
    position: relative;
    z-index: 2;
    top: 20px;
    margin-left: 15px;
}

.bck-box.bck-box15 .bck-title p {
    margin-bottom: 5px;
}

.bck-box.bck-box15 .bck-title:after {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 1.5px;
    left: 10px;
    z-index: -1;
    border: 1.9px solid #eb5090;
    border-left: white;
    border-top: white;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 0px;
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(24deg);
}

/**********SOCIALES**********/
/* CAJA 16 ROSA*/
.bck-box.bck-box16 {
	border: 0;
}
.bck-box.bck-box16 .bck-content {
	background: #ffffff;
    border-TOP: 2px solid var(--colorppal);
    BORDER-BOTTOM: 2px solid var(--colorppal);
}
.bck-box.bck-box16 .bck-title {
    background: var(--colorppal);
    color: white;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 0 10px;
    position: relative;
    z-index: 2;
}
.bck-box.bck-box16 .bck-title p {
    margin-bottom: 5px;
}
.bck-box.bck-box16 .bck-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--colorppal);
    top: 0px;
    left: 13px;
    z-index: -1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}

/* CAJA 17 Taller de pensamiento temporal y espacial*/
.bck-box.bck-box17 {
	border: 0;
}

.bck-box.bck-box17 .bck-content {
	background: #F6F3EC;
}
.bck-box.bck-box17 .bck-title {
    background: #EC6608;
    color: white;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 0 10px;
    position: relative;
    z-index: 2;
}
.bck-box.bck-box17 .bck-title p {
    margin-bottom: 5px;
}
.bck-box.bck-box17 .bck-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #EC6608;
    top: 0px;
    left: 13px;
    z-index: -1;
    border-top-right-radius: 5px;
    border-top-left-radius: 7px;
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}

/* CAJA 18 DOC. */
.bck-box.bck-box18 {
	border: 1PX SOLID #eff4f9;
    background-color: #eff4f9;
    BORDER-RADIUS: 10PX;
}

.bck-box.bck-box18 .bck-title {
	background: #ECE8D8;
    display: inline-block;
    padding: 2px 12px;
    color: #000000;
    font-size: 1.8rem;
    position: relative;
    TOP: 10px;
}
.bck-box18 .bck-title:after {
	content: "";
    position: absolute;
    right: -9px;
    TOP: 0px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 9px solid #ECE8D8;
    border-bottom: 15px solid transparent;
}

.bck-box.bck-box18 .bck-content {
	background: #EFF4F9;
    border-radius: 10px;
    padding-top: 20px;
}

/* CAJA 19 CUADERNO. */
.bck-box.bck-box19{
    border-bottom: 4px solid #ece8d8;
    margin: 10px;
    background: #ffffff;
    box-shadow: 0px 3px 15px hsla(0,0%,0%,.08);
    position: relative;
    background-image: -webkit-radial-gradient(#d6d5d6 45%, transparent 20%), -webkit-radial-gradient(#cfcfc3 44%, transparent 24%);
    background-image: -moz-radial-gradient(#d6d5d6 45%, transparent 20%), -moz-radial-gradient(#cfcfc3 44%, transparent 24%);
    background-image: radial-gradient(#ece8d8 45%, transparent 20%), radial-gradient(#c7c3b0 44%, transparent 24%);
    background-position: -12px 2px, -11px 2px, 50% 0px;
    background-repeat: repeat-y, repeat-y, repeat;
    background-size: 30px 30px, 30px 30px, 30px 30px;
    padding: 10px 10px 10px 18px;
    box-shadow: -7px -3px 3px 1px #ECE8D8;
    border-top: 6px solid #ece8d8;
    border-left: 6px solid #ece8d8;
    border-right: 4px solid #ece8d8;
}

.bck-box.bck-box19 .bck-title {
    background: #fbba00;
    color: #0d0d0d;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 0 10px;
    position: relative;
    z-index: 2;
    top: -31px;
    LEFT: 25%;
}

.bck-box.bck-box19 .bck-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fbba00;
    top: 0px;
    left: 13px;
    z-index: -1;
    border: 1px solid #fbba00;
    order-left: white;
    border-top: white;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 6px;
    -moz-transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    transform: skewX(-30deg);
}

.bck-box.bck-box19 .bck-title:before {
    content: "";
    position: absolute;
    LEFT: -25px;
    bottom: 8px;
    z-index: -5;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #fbba00;
    /* border-bottom: 10px solid transparent; */
    border-left: 30px solid transparent;
    border-right: -3px solid transparent;
    border-top: 13px solid #fbba00;
    transform: skewY(10deg);
}

.bck-box.bck-box19 .bck-content {
    background: #ffffff;
    position: relative;
    top: -10px;
}

/*CAJA 20*/
.bck-box.bck-box20{
	margin: 10px 0;
    border-left: 2px solid var(--colorppal);
    background: #F4F0E7;
    padding: 0px;
}

.bck-box.bck-box20 .bck-content{
	padding: 10px;
} 

/*TABLA POR DEFECTO*/

.content table:not(.rf-tablegrid) td,
.content table:not(.rf-tablegrid) th {
    border: 3px solid #fff;
    padding: 10px;
    background: #D4EAE4;
}

.content table:not(.rf-tablegrid) {
    border: 1px solid #F37731;
    margin-bottom: 20px;
}

/*-----*/
/* Icons */

#actividad .player.audio {
	background: url(images/Icon_audio.png) center center / cover;
}

.item-container .icon:before {
	content: "";
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	   -moz-background-size: auto 100%;
	     -o-background-size: auto 100%;
	        background-size: auto 100%;
	background-position: center center;
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	width: 54px;
	margin-top: -16px;
}

/* Icono reciclaje */
.item-container .icon-reciclaje:before {
    background-image: url(images/icono_reciclaje.png);
    width: 40px;
    height: 30px;
}

/*-----*/

/* Forms */

.content_type_clase_smchile2021 .slide_main input,
.content_type_clase_smchile2021 .slide_main .img-input-container {
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
       -moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
    		box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
    border: 0px solid #ccc;
    border-bottom: 2px solid #10A0C6;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
    		border-radius: 0px;
}

.content_type_clase_smchile2021 .slide_main .fill-text .img-input-container {
    display: none;
}

.content_type_clase_smchile2021 .slide_main input:focus,
.content_type_clase_smchile2021 .slide_main .img-input-container:focus {
    border-top-color: #10A0C6;
    border-right-color: #10A0C6;
    border-bottom-color: #10A0C6;
    border-left-color: #10A0C6;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
}

/* Slides */

#actividad .workspace.multiple-choice .opcion,
#actividad .workspace.matching .opciones .opcion:not(.ko):not(.ok),
#actividad .workspace.ordenar .js-rank-item {
    border-width: 2px;
    border-color: #10A0C6;
    border-style: solid;
    background: #fff;
}

#actividad .workspace.matching .opciones .opcion.emparejado.destino {
    border-width: 2px 2px 2px 0;
}

#actividad .workspace.matching .opciones .opcion.emparejado.origen {
    border-width: 2px 0 2px 2px;
}

#actividad .workspace.clasificar .clasificar_lista .classify-item {
    border: 0px solid #d8d8d8;
}

#actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 2px solid #10A0C6;
    padding-top: 10px;
}

.fillblanks-draggable-wrapper .response {
    border: 0px solid #d8d8d8;
    background: #c1e5f7;
}

.fillblanks-draggable-wrapper .response .bck-i-fullscreen-wrapper {
    padding: 0;
}

body.content_type_clase_smchile2021 #actividad .content .fillblanks-draggable-wrapper
.response .bck-i-fullscreen,
body.content_type_clase_smchile2021 #actividad .content .fillblanks-draggable
.img-input-container.imgFilled img {
	width: auto;
	height: 100px !important;
	padding: 0;
}


/*----- unittag ------*/
/*---uniittag_intro */
.unittag_intro :root {
--colordeg: #000000;
--colordeg2: #5B676C;
--colorppal: #5C676D;
}
/*---uniittag_bloque2 */
.unittag_bloque2 :root {
--colordeg: #00A4B7;
--colordeg2: #50AE2F;
--colorppal: #00A4B7;
}
/*---uniittag_bloque3 */
.unittag_bloque3 :root {
--colordeg: #8C338B;
--colordeg2: #C8308A;
--colorppal: #82338B;
}


/*unittags cajas*/
/*UNITTAGS*/
/**bloque2**/
.unittag_bloque2 .bck-box.bck-box16 {
	border: 0;
}
.unittag_bloque2 .bck-box.bck-box16 .bck-content {
	background: #ffffff;
    border-TOP: 2px solid #00A4B7;
    BORDER-BOTTOM: 2px solid #00A4B7;
}
.unittag_bloque2 .bck-box.bck-box16 .bck-title {
    background: #00A4B7;
    color: white;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 0 10px;
    position: relative;
    z-index: 2;
}
.unittag_bloque2 .bck-box.bck-box16 .bck-title p {
    margin-bottom: 5px;
}
.unittag_bloque2 .bck-box.bck-box16 .bck-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00A4B7;
    top: 0px;
    left: 13px;
    z-index: -1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}


.unittag_bloque2 .bck-box.bck-box17 {
	border: 0;
}

.uniittag_bloque2.bck-box.bck-box17 .bck-content {
	background: #F6F3EC;
}
.uniittag_bloque2 .bck-box.bck-box17 .bck-title {
    background: #52AE32;
    color: white;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 0 10px;
    position: relative;
    z-index: 2;
}
.unittag_bloque2 .bck-box.bck-box17 .bck-title p {
    margin-bottom: 5px;
}
.unittag_bloque2 .bck-box.bck-box17 .bck-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 99%;
    background: #52AE32;
    top: 0px;
    left: 13px;
    z-index: -1;
    border-top-right-radius: 5px;
    border-top-left-radius: 7px;
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}

/**bloque3**/
.unittag_bloque3 .bck-box.bck-box16 {
	border: 0;
}
.unittag_bloque3 .bck-box.bck-box16 .bck-content {
	background: #ffffff;
    border-TOP: 2px solid #82368C;
    BORDER-BOTTOM: 2px solid #82368C;
}
.unittag_bloque3 .bck-box.bck-box16 .bck-title {
    background: #82368C;
    color: white;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 0 10px;
    position: relative;
    z-index: 2;
}

.unittag_bloque3 .bck-box.bck-box16 .bck-title p {
    margin-bottom: 5px;
}

.unittag_bloque3 .bck-box.bck-box16 .bck-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #82368C;
    top: 0px;
    left: 13px;
    z-index: -1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}

.unittag_bloque3 .bck-box.bck-box17 {
	border: 0;
}

.unittag_bloque3 .bck-box.bck-box17 .bck-content {
	background: #F6F3EC;
}
.unittag_bloque3 .bck-box.bck-box17 .bck-title {
    background: #C9338B;
    color: white;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 0 10px;
    position: relative;
    z-index: 2;
}
.unittag_bloque3 .bck-box.bck-box17 .bck-title p {
    margin-bottom: 5px;
}
.unittag_bloque3 .bck-box.bck-box17 .bck-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 99%;
    background: #C9338B;
    top: 0px;
    left: 13px;
    z-index: -1;
    border-top-right-radius: 5px;
    border-top-left-radius: 7px;
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}

/**bloque4**/
.unittag_bloque4 .bck-box.bck-box16 {
	border: 0;
}

.unittag_bloque4 .bck-box.bck-box16 .bck-content {
	background: #ffffff;
    border-TOP: 2px solid #86BC25;
    BORDER-BOTTOM: 2px solid #86BC25;
}

.unittag_bloque4 .bck-box.bck-box16 .bck-title {
    background: #86BC25;
    color: white;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 0 10px;
    position: relative;
    z-index: 2;
}
.unittag_bloque4 .bck-box.bck-box16 .bck-title p {
    margin-bottom: 5px;
}

.unittag_bloque4 .bck-box.bck-box16 .bck-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #86BC25;
    top: 0px;
    left: 13px;
    z-index: -1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}


.unittag_bloque4 .bck-box.bck-box17 {
	border: 0;
}

.unittag_bloque4 .bck-box.bck-box17 .bck-content {
	background: #F6F3EC;
}
.unittag_bloque4 .bck-box.bck-box17 .bck-title {
    background: #DEDC00;
    color: white;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 0 10px;
    position: relative;
    z-index: 2;
}
.unittag_bloque4 .bck-box.bck-box17 .bck-title p {
    margin-bottom: 5px;
}
.unittag_bloque4 .bck-box.bck-box17 .bck-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 99%;
    background: #DEDC00;
    top: 0px;
    left: 13px;
    z-index: -1;
    border-top-right-radius: 5px;
    border-top-left-radius: 7px;
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}
/*************/
